<html>
    <head>
        <title>Services</title>
    </head>
    <body>
        <div class="container" style="text-align:center">
            {% include 'navbar.html'%}

            <h1>This is services that we  provider Website</h1>
            <p>
                Python stands as one of the most popular programming languages today.Created by Guido van Rossum, it first appeared in
             1991.The language emphasizes code readability and simplicity above all else.Its design philosophy uses significant whitespace to delimit 
             code blocks.This eliminates the need for curly braces or semicolons.Programmers appreciate Python for its clean and clear syntax rules
            </p>
            <button>Contact Us</button>

        </div>
    </body>
    </html>